/*page css test */



table
{
    
    width: 100%;
    max-width: 700px;
    height: auto;
    border-collapse: collapse;
}  
td
{
    border: 1px solid blue;  
}

td .fa-map-marker-alt
{

    width: 30px;
    height: 30px;
    text-align: center;
}
td #saisieclient
{
    width: auto;
    height: 30px;
    
}
input
{
    height: 40px;
}
td .bouton_rechercher
{
    position: relative;
    height: 40px;
    width: 100%;
}
.fa-search
{
    position: absolute;
    left: 240px;
}
































